<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <main>
        <select class="language-select" id="language-select">
            <option value="none">Please select a language</option>
            <option value="en">English</option>
            <option value="fr">French</option>
            <option value="es">Español</option>
            <option value="pt">Português</option>
            <option value="de">German</option>
        </select>
        <form class="text-input">
            <h1>Enter your text for translation</h1>
            <input type="text" id="text" name="text" placeholder="Enter text here...">
            <button type="button" onclick="getTextInput()">Translate</button>
        </form>
        <form class="speech-input">
            <h1>Say a phrase to be translated</h1>
            <button type="button" onclick="getSpeechInput()"><img src="../assets/microphone.png" alt="Microphone"></button>
        </form>
    </main>

    <script src="../src/script.js"></script>
</body>
</html>